doctype 5
html
  head
    link(rel='icon',href='/icon.png',sizes='48x48')
    style(type='text/css')
      body { font-family: Tahoma; }
      dt { margin-left: 0em; margin-top: 0.5em; font-weight: bold; background: #ccc; }
      dd { margin-left: 0em; color: #444; }
      img { max-width: 640px; }
      img.color { width: 1em; height: 0.8em; }
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='http://crypto-js.googlecode.com/files/2.5.3-crypto-md5.js')
    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
  body
    form#loginForm
      dl
        dt nick
        dd
          input#nick
        dd
          button Login
        dt WARNING
        dd
          | this service is unencrypted; any messages you receive
          | or send may be intercepted, read and altered in transit
        dt newest new things
        dd desktop notifications in chrome
        dd automatic scroll to input on keypress
        dd fixed scroll for dd (and dd only)
        dd a cute lemur
        dd vimeo support
        dd youtu.be support
        dt todo
        dd
          | accidentally create the first self-aware AI inside psimyn's
          | robot while trying to hook it up to bowels chat
        dd add https support
    dl#messages
    form#messageForm
      input#message
      button Send

