doctype 5
html
  head
    style(type='text/css')
      body { font-family: Tahoma; }
      dt { margin-left: 0em; margin-top: 0.5em; font-weight: bold; background: #ccc; }
      dd { margin-left: 0em; color: #444; }
      img { max-width: 640px; }
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
      var socket = io.connect('http://#{config.webHost}:#{config.webPort}/');
      var imgRE = /(http[s]*:\\/.*?\\.(jpg|png|gif))/gi;
      var imgurRE = /http:\\/\\/(?:www\\.)?imgur\\.com\\/(.*)(?:\\b)/gi;
      var youtubeRE = /http:\\/\\/(?:www\\.)?(?:youtube\\.com\\/watch\\?).*v=(.*)(?:&|$)/;

      socket.on('message', function(from, body) {
        body = body.replace(/</g, '&lt;');
        body = body.replace(/>/g, '&gt;');
        body = body.replace(/\\n/g, '<br />');

        body = body.replace(imgRE, '<img src="$1" />');
        body = body.replace(imgurRE, '<img src="http://i.imgur.com/$1.jpg" />');
        body = body.replace(youtubeRE,
          '<iframe width="640" height="360" ' +
          'src="http://www.youtube.com/embed/$1" ' +
          'frameborder="0" allowfullscreen></iframe>');

        from = from.replace(/.*\\//, '');

        $('#messages').append('<dt>'+from+'</dt>');
        $('#messages').append('<dd>'+body+'</dd>');
      });

      $(function() {
        $('#messages').hide();
        $('#messageForm').hide();

        $('#loginForm').submit(function() {
          var nick = $('#nick').val();

          $('#loginForm').hide();
          $('#messages').show();
          $('#messageForm').show();

          socket.emit('login', nick);
          return false;
        });

        $('#messageForm').submit(function() {
          socket.emit('sendmessage', $('#message').val());
          $('#message').val('');
          return false;
        });
      });
  body
    form#loginForm
      dl
        dt nick
        dd
          input#nick
        dd
          button Login
    dl#messages
    form#messageForm
      input#message
      button Send

